<h1>Question edit form.</h1>

<p>Update question for test: <%= link_to @question.test.title, test_questions_path(@question.test)  %>.</p>

<p>Question body: <%= @question.body %></p>


<%= render 'shared/errors', resource: @question%>

<%= render 'form' %>
