<h1>Create new question.</h1>

'/test/<%= params[:test_id] %>/questions' 

<form action='/tests/<%= params[:test_id] %>/questions' method='post'>
  <input type="hidden" name="authenticity_token" id="authenticity_token" value=<%= form_authenticity_token %> />
  <p>
    <label for='question-body'>Body</label>
    <input type='text' name='body' id='question-body'>
  </p>
  <br>
  <input type='submit' value='Create'>
</form>
    