<% mark = @test_passing.test.questions.count / @test_passing.correct_questions %>

<% if mark >= 0.85%>
<%  color = 'green'%>
<% else %>
<%  color = 'red'%>
<% end %>
<h1><font size="6" color= <%= color%> face="serif">Test has been completed</font></h1>
<p><font size="4">Your mark: </font><font size="4" color= <%= color%> face="serif"><%= mark * 100 %> %</font></p>
