      <tr>
        <td><%= question.body %></td>
        <td><%= link_to t('show'), admin_question_path(question), class: "btn btn-light" %></td>
        <td><%= link_to t('edit'), edit_admin_question_path(question), class: "btn btn-light"  %></td>
        <td><%= link_to t('destroy'), admin_question_path(question), method: :delete, confirm: t('are_you_sure'), class: "btn btn-light" %></td>
      </tr>