td {
  vertical-align: middle;
  color: #a52a2a;
}

.octicon {
  filter: invert(21%) sepia(69%) saturate(2083%) hue-rotate(346deg) brightness(96%) contrast(82%);
}

.hide {
  display: none; 
}

.pointer {
  cursor: pointer;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#Bar {
  width: 10%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}
td .same_line_btn {
  float: right;
  margin-left: 5px;
  
}
td .same_line {
  float: left;
  width: 50%;
}

.width_for_table{
  width: 80%;
}

.for_warning_message{
  margin: 0px;
}

.float_left{
  display:table-cell;
  width: 100px;
}

.float_right{
  display:table-cell;
  width: 100px;
}

.timer{
  width: 200px;
  margin: 5px;
}

.tablecell{
  display:table-cell;
}

.minutes{
  padding-right: 5px;
}

.seconds{
  padding-right: 5px;
}

