<h1><%= t('.title', test: @test.title) %></h1>

<p><%= link_to t('.new_question'), new_admin_test_question_path(@test.id) %> </p>
<p> <%= link_to t('.all_tests'), admin_tests_path %></p>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <%= render @test.questions %>
</table>