<p id="notice"><%= notice %></p>

<h1>Tests</h1>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.title %></td>
        <td><%= link_to 'Start', start_test_path(test), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>


